/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image:url("../img/teather.jpg") ;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.mat-footer {
  opacity: 0.7; 
  background-image: linear-gradient(-120DEG,#E50914,#221F1F,#221F1F);
}

.mat-header {
  opacity: 0.8;
  background-image: linear-gradient(-120DEG,#E50914,#221F1F,#221F1F);
}

.mat-form {
  display: inline-block;
  padding: 32px 48px 0px 48px; 
  opacity: 0.9; 
  border-radius: 4px;
}

.register-form {
  display: inline-block; 
  padding: 32px 48px 0px 48px; 
  opacity: 0.9; 
  border-radius: 3px;
}

.footer-icon {
  font-size: 35px; 
  padding: 0px 10px 7px 0px;
}



.input-field input[type=date]:focus + label,
.input-field input[type=text]:focus + label,
.input-field input[type=email]:focus + label,
.input-field input[type=password]:focus + label {
  color: #e91e63;
}

.input-field input[type=date]:focus,
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
  border-bottom: 2px solid #e91e63;
  box-shadow: none;
}


